body {
    margin: 0;
    padding: 0;
    border: 0;

    widtH: 100vw;
    height: 100vh;

    overflow: hidden;
}

#div-root {
    width: 100%;
    height: 100%;

    text-align: center;
}

.container-image {
    width: 100%;
    height: 100%;

    text-align: center;

    background-position: center;
    background-size: cover;
}

#image-normal {
    background-image: url('/public/images/1.png');
}

#image-poke {
    background-image: url('/public/images/2.png');
}